<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
	{{>head}}
</head>

<body>

<!-- WRAPPER ALL -->
<div class="arlo_tm_wrapper_all">

	{{>mobile-menu}}	
	
    <!-- CONTENT -->
	<div class="arlo_tm_content">
		
		{{>sidebar}}
		
		<!-- RIGHTPART -->
		<div class="arlo_tm_rightpart">
			<div class="rightpart_inner">
				<div class="arlo_tm_section" id="home">
					<div class="arlo_tm_hero_header_wrap">
						<div class="arlo_tm_universal_box_wrap">
							<div class="bg_wrap">
								<div class="overlay_image hero jarallax" data-speed="0.1"></div>
								<div class="overlay_color hero"></div>
							</div>
							<div class="content hero">
								<div class="inner_content">
									<div class="image_wrap">
										<img src="https://lh3.googleusercontent.com/t2TucQdsaF_jW0pvO-dlLVVmSpxC0V0pdFeBIuKGD3zUg8l_HtJF1CecnSWhlzmy7NLzFAe0H9CG-tUqYxiW6yrh_qVlI2J2cuekXg" alt="" />
									</div>
									<div class="name_holder">
										<h3>Devin <span>Fung</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- ABOUT -->
				<div class="arlo_tm_section relative" id="about">
					<div class="arlo_tm_about_wrapper_all">
						<div class="container">
							<div class="arlo_tm_title_holder">
								<h3>About Me</h3>
								<span>Goals and Interests</span>
							</div>
							<div class="arlo_tm_about_wrap">
								<div class="author_wrap">
									<div class="leftbox">
										<img src="https://storage.turbo360.co/portfolio-website-rw3lwb/AboutMe.gif" alt="" />
									</div>
									<div class="rightbox">
										<div class="arlo_tm_mini_title_holder">
											<h4>Hey, I'm an aspiring Software Developer!</h4>
										</div>
										<div class="definition">
											<p>My name is <strong>Devin Fung</strong>. I competed professionally in the Esports scene for 7+ years. I'm now looking to take my drive and ambition in a different direction. I initially developed an interest in coding from my C++ classes at UCLA. In addition to my Bachelor's, I have been taking online courses in software engineering and my interest has grown significantly. In 5 months, I learned the set of tools that enabled me to develop the projects listed below. I'm well aware of my minimal experience, but I'm especially confident in my ability to learn quickly and resourcefully. I value constructive criticism and thrive with mentorship. From grinding 12 hour daily practice sessions in Esports, I have developed a strong work ethic and mental fortitude that I will bring to your company. My primary goal is to gain experience and be a valuable team player. I would be grateful for an opportunity to prove my worth!</p>
										</div>
										<div class="about_short_contact_wrap">
											<ul>
												<li>
													<span><label>City:</label> Los Angeles, CA</span>
												</li>
												<li>
													<span><label>Interests:</label> Esports, Basketball</span>
												</li>
												<li>
													<span><label>College:</label> UCLA</span>
												</li>
												<li>
													<span><label>Degree:</label> Bachelor of Electrical Engineering</span>
												</li>	
												</li>
												<li>
													<span><label>Mail:</label> <a href="mailto:@gmail.com">devin7fung&#64;gmail.com</a></span>
												</li>
												<li>
													<span><label>Phone:</label> <a href="#">(909)-569-3597</a></span>
												</li>
											</ul>
										</div>
										<div class="buttons_wrap">
											<ul>
												<li>
													<a href="https://storage.turbo360.co/portfolio-website-rw3lwb/Resume2020%20(13).pdf"><span>Download Resume</span></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /ABOUT -->
				
				<!-- SKILLS -->
				<div class="arlo_tm_section" id="skills">
					<div class="arlo_tm_skills_wrap">
						<div class="container">
							<div class="inner_wrap">
								<div class="leftbox">
									<div class="arlo_tm_title_holder portfolio">
										<h3>Skills</h3>
										<span>Brief overview of my toolkit</span>
									</div>
									<p>My goal is to learn. I took courses online to supplement my software engineering skill set. I'm a very resourceful problem solver, using tools from StackOverflow, Github, Stackexchange, and Google. In addition, I have a variety of soft skills honed from 5+ years as a leader and mediator of multiple professional Esports teams. Rest assured, I make a great team player and will excel in the workplace!</p>
								</div>
								<div class="rightbox">
									<div class="progress_bar_wrap_total">
										<div class="arlo_tm_progress_wrap" data-size="small" data-round="c" data-strip="off">
											<div>
												<h3>Hard Skills</h3>
											</div>
											<div class="arlo_tm_progress" data-value="75" data-color="#000">
												<span><span class="label">Microsoft Word & Excel - <span class="experience">5 years of experience</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="40" data-color="#000">
												<span><span class="label">HTML - <span class="experience">1 year of experience or less</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="25" data-color="#000">
												<span><span class="label">CSS/Flexbos/Bootstrap - <span class="experience">1 year of experience or less</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="30" data-color="#000">
												<span><span class="label">Javascript - <span class="experience">1 year of experience or less</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="30" data-color="#000">
												<span><span class="label">React - <span class="experience">1 year of experience or less</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="25" data-color="#000">
												<span><span class="label">Redux - <span class="experience">1 year of experience or less</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="25" data-color="#000">
												<span><span class="label">Next.js - <span class="experience">1 year of experience or less</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="25" data-color="#000">
												<span><span class="label">C++ - <span class="experience">1 year of experience or less</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div>
												<h3>Soft Skills</h3>
											</div>
											<div class="arlo_tm_progress" data-value="75" data-color="#000">
												<span><span class="label">Leadership - <span class="experience">5 years of experience</span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="90" data-color="#000">
												<span><span class="label">Communication <span class="experience"></span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
											<div class="arlo_tm_progress" data-value="80" data-color="#000">
												<span><span class="label">Problem Solving <span class="experience"></span></span></span>
												<div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /SKILLS -->
				
				
				<!-- PORTFOLIO -->
				<div class="arlo_tm_section relative" id="portfolio">
					<div class="arlo_tm_portfolio_wrapper_all">

						<!-- PORTFOLIO FILTER -->
						<div class="arlo_tm_second_portfolio">
						<div class="container">
							<div class="arlo_tm_portfolio_wrap">
								<div class="arlo_tm_title_holder portfolio">
									<h3>Projects</h3>
									<span>Check out my projects!</span>
								</div>
								<div class="arlo_tm_portfolio_titles"></div>
								<ul class="arlo_tm_portfolio_filter">
									<li><a href="#" class="current" data-filter="*">All</a></li>
									<li><a href="#" data-filter=".advancedprojects">Advanced Projects</a></li>
									<li><a href="#" data-filter=".simpleprojects">Simple Projects</a></li>
								</ul>
								<ul class="arlo_tm_portfolio_list gallery_zoom">
									<li class="advancedprojects">
										<div class="entry arlo_tm_portfolio_wrap" data-category="AdvancedProjects">
											<div class="test">
													<img src="https://lh3.googleusercontent.com/1FTSlIDZ9GqLkt1KmOtjoVU7uA6C7-4XRErmlNxwI_z7O0FLYW9DK54u6owCQMa_If0By6YWS_JNA40IjbnSAYgbbA" alt="" />
											</div>
											<h3>YelpCamp</h3>
											<p class="test3">
												Simple clone of Yelp made for camping sites! Start planning your next campsite and leave a review here.
											</p>
										</div>
										<div class="arlo_tm_about_wrap test2">
											<div class="buttons_wrap">
												<ul>
													<li>
														<a href="https://secure-caverns-49207.herokuapp.com/"><span>YelpCamp</span></a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="simpleprojects">
										<div class="entry arlo_tm_portfolio_wrap" data-category="SimpleProjects">
											<div class="test">
													<img src="https://lh3.googleusercontent.com/znssz3fIStbm1vbndlLJLj3azGiSwUqYhk40OiNyEhlSh3Uc-dEAQzFoxQdRS_qo-uyRxxLaBz3cDbjoydw4sLlKzFY" alt="" />
											</div>
											<h3>Sound Circle</h3>
											<p class="test3">
												Come build some simple tunes with your keyboard. Mesmerizing circles and sounds.<br><b><small>Warning: Epilepsy from fast clicks on the keyboard.</small></b>
											</p>
										</div>
										<div class="arlo_tm_about_wrap test2">
											<div class="buttons_wrap">
												<ul>
													<li>
														<a href="https://storage.turbo360.co/portfolio-website-rw3lwb/Sound%20Game.zip"><span>Sound Circle</span></a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="simpleprojects">
										<div class="entry arlo_tm_portfolio_wrap" data-category="SimpleProjects">
											<div class="test">
												<a href="portfolio-single-3.html">
													<img src="https://lh3.googleusercontent.com/7GXIUXVQsTmRdS7AX6sJDihCo7y34UDZ7kEcXFjXbNJ9xpwXtXnEcbQyy6N1ziwUzSJy0X1FbDnJ5DeAmuLscm0XPw" alt="" />
												</a>
											</div>
											<h3>RGB Color Game</h3>
											<p class="test3">
												Test your RGB knowledge. How well do you know your colors?
											</p>
										</div>
										<div class="arlo_tm_about_wrap test2">
											<div class="buttons_wrap">
												<ul>
													<li>
														<a href="https://storage.turbo360.co/portfolio-website-rw3lwb/RBG%20Color%20Game.zip"><span>RGB Guesser</span></a>
													</li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /PORTFOLIO FILTER -->

					</div>
				</div>
				<!-- /PORTFOLIO -->
				
				
				
				<!-- COUNTERBOX
				<div class="arlo_tm_section">
					<div class="container">
						<div class="arlo_tm_counter_wrap" data-col="4" data-delay="300">
							<ul class="arlo_tm_counter_list arlo_tm_miniboxes">
								<li>
									<div class="inner arlo_tm_minibox">
										<h3><span><span class="arlo_tm_counter" data-from="0" data-to="2222" data-speed="3000">0</span></span></h3>
										<span>Projects Completed</span>
									</div>
								</li>
								<li>
									<div class="inner arlo_tm_minibox">
										<h3><span><span class="arlo_tm_counter" data-from="0" data-to="333" data-speed="3000">0</span>K</span></h3>
										<span>Lines of Code</span>
									</div>
								</li>
								<li>
									<div class="inner arlo_tm_minibox">
										<h3><span><span class="arlo_tm_counter" data-from="0" data-to="8888" data-speed="3000">0</span></span></h3>
										<span>Happy Clients</span>
									</div>
								</li>
								<li>
									<div class="inner arlo_tm_minibox">
										<h3><span><span class="arlo_tm_counter" data-from="0" data-to="777" data-speed="3000">0</span>+</span></h3>
										<span>My Awwwards</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				COUNTERBOX -->
				
				
			</div>
		</div>
		<!-- /RIGHTPART -->
		
		{{>footer}}
		
	</div>
</div>
<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="/js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="/js/plugins.js"></script>
<script src="/js/init.js"></script>
<!-- /SCRIPTS -->

</body>
</html>
